@model Shiverleih.Models.shop.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.StatusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.StatusID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentalPricePerDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentalPricePerDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
